@charset "UTF-8";
@import url("common.css");


$black: #1a1a1a;
$white: #f4f4f4;
$point: #eb5938;
$point_1: #da3325;

@mixin font($a, $b, $c) {
    font-family: $a;
    font-size: #{$b}px;
    color: $c;
}

main{
    /* main start */
    background: $white;
    /* section1 */
    .work_1{
        height: 100%;
        left: 50px;
        margin-left: 0;
        overflow: hidden;
        position: fixed;
        background: $white;
        right: auto;
        white-space: normal;
        z-index: 3;
        .wo_title{
            position: relative;
            height: 100%;
            width: 40px;
            border-right: 1px solid $black;
        .wo_title_top{
            cursor: pointer;
            left:30%;
            top: 3%;
            position: absolute;
           
            transform: translateZ(1px);
            z-index: 1;
            p{  
                transition: opacity .3s ease;
                width: 8px;
                img{width: 100%;}
            }
            span{
                @include font(Roboto Slab, 14, $black);
                font-weight: bold;
                letter-spacing: .01em;
                display: block;
                transform: rotate(90deg) translate(10px, 18px);
            }
         }

         .wo_title_button{
            cursor: pointer;
            left:30%;
            bottom: 3%;
            position: absolute;
           
            transform: translateZ(1px);
            z-index: 1;
            p{  
                transition: opacity .3s ease;
                width: 8px;
                margin: 0 auto;
                img{width: 100%;}
            }
            span{
                @include font(Chakra Petch, 14, $black);
                font-weight: bold;
                letter-spacing: .01em;
                display: block;
              }
             }
        }
    }
   /*  section2 */
   .work_2{
    width: 100%;
    height: 100%;
    margin-left: 0;
    overflow: hidden;
    background: $white;
    right: auto;
    white-space: normal;

    z-index: 3;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
      margin: 0 auto;
   
    .work_goods:nth-of-type(1){
        margin-left: 10%;
    }
    .work_goods{
        display: inline-block;
        position: relative;
        text-align: center;
        white-space: nowrap;
        margin: 12.5vh 9vh 8.33333vh;
        height: 79.16667vh;
        text-transform: uppercase;
        a{  position: relative;
            display: inline-flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            text-decoration: none;
            .goods_hidden{
                display: none;
                left: 0;
                top: 5%;
                min-width: 40vh;
                mix-blend-mode: exclusion;
                position: absolute;
                white-space: pre-line;
                /* transform: translate3d(-50%,0,0); */
                width: 30%;
                @include font(GothicA1, 35, $white);
                z-index: 1;
            }
            .goods_img{
                height: 58.33333vh;
                overflow: hidden;
                position: relative;
                width: 40.79vh;
                margin-top: 4.3vh;
                img{width: 100%;height: 100%;}
            }
            .goods_srp{
                padding-top: 30px;
                p{  @include font(NanumGothic, 20, $black);
                    font-weight: bold;
                    img{}
                }
                p:nth-of-type(3){font-size: 13px; font-weight: normal;}
            }
        }
    }
    .goods_detail{
        text-align: center;
        margin: 0 20vh 0 10vh;
        a{text-decoration: none;
        .goods_detail_1{
            p{ @include font(Roboto Slab, 60, $black);
                font-weight: bold;
                margin: 0;
                width: 25vw;
                letter-spacing: -1px;
            }
        }
        .goods_deta_icon{
            img{}
        }
        .goods_deta_icon{
            p{
                @include font(Roboto Slab, 20, $black);
                padding-top: 15px;
                font-size: 25px;
                letter-spacing: .02em;
                line-height: .8;
            }
        }
        }
    }
   }
    /* main end */
}

   /* popup 기능 */
   .popup{
    background: $black;
    margin: 0 auto;

    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 4;

     
    .popup_scroll_1{
        position: fixed;
        right: 5%; bottom:2%;
        /* width: 30px;
        height: 40px;
        img{ width: 100%;height: 100%;}   */
        a{ padding-top: 50px;
            position: relative;
            text-decoration: none;
            @include font(Chakra Petch, 16, $white);
            opacity: .2;

            span{
                position: absolute;
                top: 0;
                left: 50%;
                width: 25px;
                height: 40px;
                margin-left: -15px;
                border: 2px solid $white;
                border-radius: 50px;
                box-sizing: border-box;
            }

            span:before{
                content: '';
                position: absolute;
                top: 10px;
                left: 50%;
              
                width: 5px;
                height: 5px;
                margin-left: -2px;
                background-color: $white;
                border-radius: 100%;
                animation: aa 2s infinite;
                box-sizing: border-box;
            
            }

            @keyframes aa {
                0% {
                  transform: translate(0, 0);
                  opacity: 0;
                }
                40% {
                  opacity: 1;
                }
                80% {
                  transform: translate(0, 16px);
                  opacity: 0;
                }
                100% {
                  opacity: 0;
                }
              }
        }
    }


    .popup_seat{
        width: 100%;
        margin: 0 auto;
        position: relative;
        
        /* popup_1 */
        .popup_1{ 
            position: absolute;
            left: 0;
            padding: 4% 0;
            width: 100%;height: 100%;
            padding-right: 10%;
            transform: translateX(-100%);
      

        .popup_1_title{
            padding-left: 50px;
            text-align: center;
            h2{
                @include font(GothicA1, 70, $white);
            }
        }
        .popup_1_img{
            margin: 0 auto;
            padding-top: 5%;
            width: 1000px;
            height: 720px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        }
        /* popup2 */
        .popup_2{
         width: 100%;
         display: flex;
         left: 100%;
         position: absolute; 
         padding-left: 10%;
         transform: translateX(-200%);

        .left_img{
            margin-left: 6%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
             width: 38%;
            height: 100vh;
                img{
                    width: 100%;
                    font-size: 0;
                    vertical-align: top;
                    display: inline-block;
                }
            
        }
        .right_detail{
            width: 50%;
            height: 100vh;
            text-align: left;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            margin-left: 4%;
            padding: 4% 0;
            .popup_2_span p{display: none;}
            .popup_2_span{
                span{
                    padding-top: 10%;
                }
            }
           .right_de_1{
               width: 50%;
            p{  @include font(GothicA1, 30, $white);  
                font-weight: 600;
                position: relative;
                z-index: 1;
                padding-top: 20px;
                i{  
                    width: 40px;
                    height: 2px;
                    display: block;
                    position: absolute;
                    left: -8px;
                    bottom: 20%;
                    z-index: -1;
                    background: $point;
                }
            }
          
                span{
                    margin: 4px 0 0 16px;
                    white-space: pre-line;
                    display: block;
                    @include font(GothicA1, 16, $white); 
                    font-weight: normal;
                    padding-left: 8%;
                    visibility: visible;
                }
                text{
                    width: 100%;
                    margin: 4px 0 0 16px;
                    @include font(GothicA1, 15, $white);
                    white-space: pre-line;
                    display: block;
                    box-sizing: border-box;
                    font-weight: normal;
                    line-height: 2em;
                    visibility: visible;
                    padding-left: 4%;
                    
                }
            }
            
           
         
            .popup_2_last{width: 100%;}
        }
        }
        /* popup3 */
        .popup_3{
         width: 100%;
         display: flex;
        left: 200%;
        position: absolute;
        padding-left: 10%;
        transform: translateX(-200%);
        .left_img{
            margin-left: 6%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
             width: 34%;
            height: 100vh;
                img{
                    width: 100%;
                    font-size: 0;
                    vertical-align: top;
                    display: inline-block;
                }
        }
        .right_detail{
            width: 50%;
            height: 100vh;
            text-align: left;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            margin-left: 6%;
            padding: 4% 0;
        .goto{
                width: 100%;
                @include font(Chakra Petch, 20, $white);  
                text-decoration: none;
                text-align: right !important;
                padding-right: 10%;
             }
          .h2_top{padding-top: 16%;}  
          .h2{ 
              h2{ 
                @include font(GothicA1, 60, $white);  
                font-weight: bold;
                z-index: 1;
                  i{}
                }
          }
           .right_de_1{
               width: 100%;
             
               p{  @include font(GothicA1, 30, $white);  
                font-weight: 600;
                position: relative;
                z-index: 1;
                padding-top: 20px;
                i{  
                    width: 40px;
                    height: 2px;
                    display: block;
                    position: absolute;
                    left: -8px;
                    bottom: 20%;
                    z-index: -1;
                    background: $point;
                }
            }
            a{text-decoration: none;
                text{
                    width: 100%;
                    margin: 4px 0 0 16px;
                    @include font(GothicA1, 18, $white);
                    white-space: pre-line;
                    display: block;
                    box-sizing: border-box;
                    font-weight: normal;
                    line-height: 2em;
                    visibility: visible;
                }
            }   
            text{
                width: 80%;
                margin: 0 auto;
                margin: 4px 0 0 16px;
                @include font(GothicA1, 18, $white);
                white-space: pre-line;
                display: block;
                box-sizing: border-box;
                font-weight: normal;
                line-height: 2em;
                visibility: visible;
            }
            }
    
            .popup_2_last{width: 100%;}
        }
        }
    
}
    /* popup end */
    }


